body,
ul {
  margin: 0;
  padding: 0;
}

.degrade {
  background: linear-gradient(to bottom, #397294, #000);
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  height: 100vh;
  padding-top: 70px;
}

.topo {
  background-color: #397294;

  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.image2 {
  display: flex;
  justify-content: flex-start;
}

.image {
  width: 50px;
  border-radius: 10px;
}

.pesquisas {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 80px;
}

.pesquisas a {
  text-decoration: none;
  color: beige;
  border-radius: 10%;
  transition: 1s;
}

.button {
  background-color: #397294;
  color: beige;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  text-align: center;
  color: bisque;
}

.text h6 {
  margin: 0 0 10px;
  font-size: 20px;
  color: aqua;
}

.text h1 {
  margin: 0;
  font-size: 50px;
  line-height: 1.5;
  display: inline;
}
.b2 {
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.b2 :hover {
  background-color: #397294;
}
.card {
  background-color: #000;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  background-color: #397294;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-footer {
  width: 100px;
  border-radius: 10px;
}

.contact-info {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.repre {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.prod {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
